body{
    width:100%;
}
.prueba1{
    display: flex;
    justify-content:center;
    padding: 20px 0;
}
.span{
    margin-top: 70px;
}
.logo, .span{
    padding: 0 50px;
}
.contenedor1 img{
    width: 40px;
}
.colum1{
    max-width: 400px;
    margin-top: 20px;
}
.colum2{
    max-width: 219px;
    margin-top: 20px;
}
.colum3{
    max-width: 400px;
    margin-top: 20px;
}
.pago img{
    width: 50px;
    height: 50px;
}
.colum3 img{
    width: 20px;
}
.colum2 img{
    width: 20px;
}